<div class="header_wrap">
    <div id="blog_name"><a class="blog_title" id="site-name" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
    </div>
    <button class="menus_icon">
        <div class="navicon"></div>
    </button>
    <ul class="menus_items">
        {{range sort .Site.Params.menu "weight" }}
            <li class="menus_item">
                {{if in .url "#"}}
                {{ $new_url := replace .url " " "-"}}
                    <a class="site-page" href="{{ index (apply  (slice (lower $new_url)) (.Params.urlFunc | default "relLangURL") ".") 0 }}">{{ title .name}}</a>
                {{else}}
                    <a class="site-page" href="{{ index (apply (slice .URL) (.Params.urlFunc | default "relLangURL") ".") 0 }}">{{ title .name}}</a>
                {{end}}
            </li>
        {{end}}
        <li class="menus_item">
            {{ if .Site.IsMultiLingual }}
            {{ $node := . }}
            {{ .Scratch.Set "separator" true }}
            {{ range (default .Site.Home.AllTranslations .Translations) }}
                {{ if ne $.Site.Language .Language }}
                <li class="navigation-item">
                    <a href="{{ .Permalink }}">{{ .Language.LanguageName | emojify }}</a>
                </li>
                {{ end }}
            {{ end }}
            {{ end }}
        </li>
    </ul>

</div>