<div class="header_wrap">
    <div id="blog_name"><a class="blog_title" id="site-name" href="{{.Site.BaseURL}}">{{ .Site.Title }}</a>
    </div>
    <button class="menus_icon">
        <div class="navicon"></div>
    </button>
    <ul class="menus_items">
        {{range sort .Site.Params.menu "weight" }}
            <li class="menus_item">
                {{if in .url "#"}}
                <a class="site-page" href="{{lower .url | safeURL}}">{{ title .name}}</a>
                {{else}}
                <a class="site-page" href="{{.url | safeURL}}">{{ title .name}}</a>
                {{end}}
            </li>
        {{end}}
    </ul>

</div>