<div class="side-card sticky">
    <div class="card-wrap" itemscope itemtype="http://schema.org/Person">
        <div class="author-avatar">
            {{if .Site.Params.avatar}}
            <img class="avatar-img" src="{{.Site.Params.avatar}}" alt="avatar"/>
            {{else}}
            <img class="avatar-img" src="{{.Site.Params.loading_bg.flink}}" alt="avatar"/>
            {{end}}
        </div>
        <div class="author-discrip">
            <h3>{{.Site.Params.author}}</h3>
            <p class="author-bio">{{.Site.Params.author_bio}}</p>
        </div>
        <div class="author-links">
            <button class="btn m-social-links">Links</button>
            {{with .Site.Params.social.enable }}
<!--            todo: add if-->
                <ul class="social-icons">
                    {{range $name, $value :=  sort $.Site.Params.social.links "weight"}}
                        <li>
                            <a class="social-icon" href="{{.url}}" target="_blank">
                            <i class="{{.icon}}" aria-hidden="true"></i>
                            </a>
                        </li>
                    {{end}}
                </ul>
            {{end}}
            {{with .Site.Params.e_social.enable }}
                <ul class="social-icons">
                    {{range $name, $value := sort $.Site.Params.e_social.links "weight"}}
                        <li>
                            <a class="e-social-link" href="{{.url}}" target="_blank" >
                                <i class="{{.icon}}" aria-hidden="true"></i>
                                <span>{{.name}}</span>
                            </a>
                        </li>
                    {{end}}
                </ul>
            {{end}}
            {{with .Site.Params.cv_dl.enable}}
                <a class="cv-links" href="{{$.Site.Params.cv_dl.dir}}"  target="_blank">
                    <i class="fas fa-file-pdf" aria-hidden="true">
                        <span>{{$.Site.Params.cv_dl.description}}</span>
                    </i>
                </a>
            {{end}}
        </div>

    </div>
</div>